.item {
    width: 350px;
    border-radius: 5px;
    margin-top: 10px;
    height: 120px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    div {
        h1{
            font-size: medium;
            color: rgba(255, 255, 255, 0.726);
        }
    }
    .btns{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 105px;
        button{
            border: none;
            padding: 2px;
            border-radius: 5px;
            cursor: pointer;
            background-color:  rgba(255, 255, 255, 0.726);
        }
    }
}

.openEditor{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 105px;
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        button{
            border-radius: 5px;
            padding: 2px;
            border: none;
            cursor: pointer;
            width: 68px;
        }
    }
    input{
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid  rgba(255, 255, 255, 0.726);
        padding: 0 5px;
    }
    button{
        width: 100%;
        border-radius: 5px;
        border: 1px solid  rgba(255, 255, 255, 0.726);
        cursor: pointer;
    }
}
.closeEditor{
    p{
        font-size: small;
        color: white;
    }
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 105px;
    .todoName{
        width: 100px;
        height: 80px;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            width: 0px;
        }
    }
}